{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/icons8-instagram-48.png">
    <title>Instagram</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" >

</head>
<body>



 

     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
<div class="searchdiv">

    <input type="search" placeholder="search" name="search">
    <input type="submit" value="submit" style="background-color: rgb(136, 136, 252);  border:none">
</div>

<div class="serchback">

   

   <a href="/home"><input type="button" value="Back"></a> 
</div>

</form>

<div class="serchimg">

    <div class="name_id">
        {% for i in p %}
        <a href="/searchprofile/{{i.id}}">
            
            <img src="{{i.image.url}}" >
            <div class="userpp">
            {{i.name}}
            
            </div>
            
            {% endfor %} 
        </a>
    </div>
 
</div>


    </body>
    </html>